@use "sass:map";
@use "../abstracts/index" as *;
@use "../components/index" as *;

.rating {
  margin-block-start: map.get($spacing, 4);

  &__title {
    @include line-clamp(1);
    @include font-heading-1($color: var(--white));
    font-weight: 700;
  }

  &__desc {
    margin-block-start: map.get($spacing, 4);
    @include font-preset-1($color: var(--grey-500));
  }

  &__list-group {
    margin-block-start: map.get($spacing, 6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: map.get($spacing, 4);
    row-gap: map.get($spacing, 3);
    justify-content: space-evenly;
  }

  &__list-item {
    border-radius: map.get($radius, br-full);
    inline-size: px-to-rem(45px);
    block-size: px-to-rem(45px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__radio {
    block-size: 100%;
    inline-size: 100%;
    background-color: var(--grey-800);
    color: var(--grey-500);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      color: var(--grey-950);
      background-color: var(--white);
    }

    &:hover:not(&--active) {
      color: var(--grey-950);
      background-color: var(--orange-500);
    }
  }

  &__button {
    @include button() {
      margin-block-start: map.get($spacing, 6);
      letter-spacing: 0.1em;
      font-weight: 700;
      text-align: center;
    }
  }
}
