@use "./functions/index" as *;

/*
-------------------------------------------------
    Color
-------------------------------------------------
*/
$colors: (
  orange-500: hsl(25, 97%, 53%),
  white: hsl(0, 100%, 100%),
  grey-500: hsl(217, 12%, 63%),
  grey-800: hsl(213, 19%, 24%),
  grey-900: hsl(213, 19%, 18%),
  grey-950: hsl(216, 12%, 8%),
);

$baseSpaceSize: 4px;

/*
-------------------------------------------------
    Margin & padding
-------------------------------------------------
*/
$spacing: (
  0: 0,
  1: px-to-em($baseSpaceSize * 1),
  2: px-to-em($baseSpaceSize * 2),
  3: px-to-em($baseSpaceSize * 3),
  4: px-to-em($baseSpaceSize * 4),
  5: px-to-em($baseSpaceSize * 5),
  6: px-to-em($baseSpaceSize * 6),
  8: px-to-em($baseSpaceSize * 8),
  10: px-to-em($baseSpaceSize * 10),
  12: px-to-em($baseSpaceSize * 12),
  16: px-to-em($baseSpaceSize * 16),
);

/*
-------------------------------------------------
    Radius
-------------------------------------------------
*/
$radius: (
  br-0: 0,
  br-1: calc($baseSpaceSize * 0.5),
  br-2: calc($baseSpaceSize * 1),
  br-3: calc($baseSpaceSize * 2),
  br-4: calc($baseSpaceSize * 3),
  br-5: calc($baseSpaceSize * 4),
  br-6: calc($baseSpaceSize * 5),
  br-7: calc($baseSpaceSize * 6),
  br-8: calc($baseSpaceSize * 8),
  br-full: 50%,
);
